<br />

<div class="booyah-box col-10 offset-1">
<h1>Team</h1>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%=image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Gregorio Vincent</h2>
      <br />
      <p>
      Gregorio Vincent is a Cornell Grad and NYC native who's spent the last 3 years working in Silicon Valley. He's worn various hats at companies such as Handy, Dot and Bo, Uber, and Recommind. He's currently a Tier 1 Product Support Specialist at Turnitin and now a budding web developer on a mission to make the internet more equitable and balanced.
      </p>
    </div>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />
